Makefile
*.user
*.stash
*.Debug
*.Release
*.pdb
*.obj
*.ilk
*.exe
*.dll
*.exp
*.lib
*moc_*
src/Communication/Communication.vcxproj
src/Communication/Communication.vcxproj.filters
*STE-100.pro.user*
*_qml.*
*Makefile
*.map
*qmlcache_loader*
*.user
.vs/
/src/App/STE-100/debug
/src/App/STE-100/release
/src/Common/debug
/src/Common/release
/src/Communication/debug
/src/Communication/release
/src/Core/debug
/src/Core/release
/src/UnitTest/debug
/src/UnitTest/release
/src/STE-100-BindCard/bindCard/debug
/src/STE-100-BindCard/bindCard/release
/src/STE-100-BindCard/Common/debug
/src/STE-100-BindCard/Common/release
/thirdparty/glog/glog-master/out
/thirdparty/GoogleTest/out
src/Common/Makefile
src/Core/Makefile
src/Makefile
src/STE-100.pro.user
src/UnitTest/Makefile
src/Common/Makefile
src/Core/Makefile
src/Makefile
src/STE-100.pro.user
src/UnitTest/Makefile
src/Common/Makefile
src/Common/Makefile
src/Core/Makefile
src/Makefile
src/STE-100.pro.user
src/UnitTest/Makefile
src/UnitTest/Makefile
/src/debug
/src/release
*.ini
src/Common/Makefile
*.qrc
src/debug.zip
src/release.zip
src/UnitTest/target_wrapper.bat
src/UnitTest/target_wrapper.bat
*.bat
src/UnitTest/target_wrapper.bat
src/SignPainter/ui_MyPainterWidget.h
src/UnitTest/target_wrapper.bat
src/STE-100-BindCard-New/bin/debug/cfg/httpConfig.txt
src/STE-100-BindCard-New/bin/debug/cfg/run.txt
src/STE-100-BindCard-New/bin/debug/STE100Database.db
src/STE-100-BindCard-New/bin/debug/cfg/videoPath.txt
src/STE-100-BindCard-New/release/qrc_qml_qmlcache.cpp
src/App/STE-100/temp/rcc/qrc_keyBoardStyle_virtualkeyboard_default_style_qmlcache.cpp
src/App/STE-100/temp/obj/myapp.res
src/App/STE-100/temp/rcc/qrc_qml_qmlcache.cpp
*android-build*
src/app_process
linker
